flask
grpcio
h5py
matplotlib
numpy
opencv-python
Pillow
protobuf
PyDrive
requests
scikit-learn
scipy
tensorflow
torch
torchaudio
torchvision
tqdm
ttach
urllib3
google-auth
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
